.messenge {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 20px;
}

.messengeTop {
  display: flex;
}

.messengeImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messengeText {
  padding: 10px;
  max-width: 400px;
  border-radius: 10px 10px 10px 0px;
  background-color: #eeeeee;
}

.messengeBottom {
  font-size: 12px;
  margin-top: 10px;
}

.messenge.own {
  align-items: flex-end;
}

.messenge.own .messengeText {
  background-color: #144ba8;
  color: white;
  border-radius: 10px 10px 0px 10px;
}

.messenge.own .imageChat {
  display: none;
}
.messenge.own .nameTime {
  text-align: right;
}
