.topbarContainer {
  height: 70px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #c1c1c1;
}

.topbarLeft {
  flex: 3;
  margin-left: 20px;
  display: flex;
}
.timeTop {
}
.titleName {
  color: black;
  margin-left: -30px;
}

/* .logo {
  margin-left: 5px;
  cursor: pointer;
  z-index: 0;
} */

.topbarCenter {
  flex: 5;
  margin-left: 110px;
}

/* .searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.icon-search {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 75%;
} */
/* 
.searchInput:focus {
  outline: none;
} */

.topbarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.topbarIcons {
  display: flex;
  margin-left: 150px;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

/* .topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
} */

.topbarImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-right: 50px;
}
