#messenger {
  position: relative;
  min-height: 714px;
  width: 100%;
  overflow: auto;
  display: flex;
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.chatMenu {
  flex: 2;
  display: block;
  background-color: white;
  color: #42454b;
}

.chatMenuProfile {
  height: 10%;
  background-color: white;
}

.iconMenuBottom_setting {
  margin-top: -15px;
  margin-left: -5px;
}

.search-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
  margin-bottom: 10px;

  div ~ div {
    margin: 0 0.2rem;
  }
}

.searchbars {
  width: 100%;
  height: 35px;
  background-color: #f1f1f4;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.searchbars:hover {
  box-shadow: rgb(38, 57, 77) 5px 10px 10px -15px;
}

.icon-search {
  font-size: 20px !important;
  margin-left: 5px;
}

.searchInputs {
  border: none;
  width: 10%;
  padding-left: 5px;
  background-color: #f1f1f4;
}

.searchInputs:hover {
  background-color: white;
}
.searchInputs:focus {
  background-color: white;
}
.searchInputs {
  height: 94%;
  width: 100%;
  border-radius: 0px 15px 15px 0px;
  outline: none;
}
.searchbars:hover {
  outline: none;
}
.searchbars:focus {
  outline: none;
}

.createGroup {
  color: #6a6b6f;
  margin-left: 10px !important;
}

.iConCreateGroup:hover {
  color: black;
}

.listFriend {
  overflow-y: scroll;
  max-height: 250px;
  width: 100%;
}

.listFriend::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 50px;
}

.containerMenu {
  height: 50px;
  margin-top: -15px;
  margin-right: 20px;
  color: #6a6b6f;
  text-align: center;
  .containerChat,
  .containerCall,
  .containerContact {
    margin: auto;
  }
  .containerChat {
    margin: auto;
  }

  .iconChat:hover,
  .iconCall:hover,
  .iconContact:hover {
    color: black;
  }
}

.chatMenuInput {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.containerMenu {
  display: flex;
}

.chatBox {
  z-index: 200;
  flex: 6;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
}

.chatBoxTop {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
  margin-left: 10px;
  height: 565px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 10px;
}
.chatBoxTop::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 50px;
}

.chatBoxWrapper {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.slideTop {
  max-width: 700px;
  max-height: 700px;
  margin-top: 50px;
  margin-left: 20px;
  img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 500px;
  }
}

.chatBoxBottom {
  display: block;
  margin-top: 5px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-self: space-between;
}

.gifStyle {
  background-color: black;
  position: absolute;
  height: 350px;
  right: 55px;
  bottom: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}

.chatMessageInput {
  width: 90%;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 5px;
}

.chatMessageInput:focus {
  outline: none;
}

.chatSubmitButton {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: #0091ff;
}

.chatOnlineWrapper {
  padding: 10px;
}

.chatMenuWrapper {
  padding: 0px;
}

.chatBoxWrapper {
  padding: 0px;
}

.navigationChats {
  display: flex;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: gray;
  text-align: center;
  cursor: default;
}

.containerSlider {
  display: flex;
}

.landing-app {
  padding: 8% 0;
  padding-left: 220px;
  text-align: center;
  .title-welcome {
    flex-direction: column;
    &-heading {
      font-size: 24px;
      margin-bottom: 2rem;
    }

    &-detail {
      text-align: center;
      font-size: 16px;
    }
  }
  .carousel-slider {
    margin-top: 3rem;
    margin-left: 220px;
  }
}

.chatOnline {
  width: auto;
  border-left: 1px solid #c1c1c1;
  background-color: #f9f9fd;
  z-index: 100;
}

.showPickers {
  position: absolute;
  bottom: 30;
}

.NavigationChat {
  position: relative;
  display: flex;
  margin-top: 10px;
}

.iconMenuBottom_emoji,
.iconMenuBottom_insertImage {
  color: gray;
}

.iconMenuBottom_insertFile {
  margin-left: 5px;
}

.chatRightWrapper {
  .chatRightTop {
    width: auto;
    height: 70px;
    text-align: center;
    margin-top: 5%;
  }
}

.menuRight {
}
