#messenger {
  position: relative;
  min-height: 714px;
  width: 100%;
  overflow: auto;
  display: flex;
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.chatMenu {
  flex: 2.5;
  background-color: #0048aa;
  color: #fff;
}

.search-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
  margin-bottom: 10px;

  div ~ div {
    margin: 0 0.2rem;
  }

  &_add-friend,
  &_create-group {
    font-size: 1.3rem;
    cursor: pointer;
    width: 30px;

    text-align: center;
    border-radius: 15px;
    transition: 0.2s;
  }

  &_add-friend:hover,
  &_create-group:hover {
    background-color: #c1c1c1;
  }

  &_input-search {
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
  }
}

.searchbars {
  width: 100%;
  height: 30px;
  background-color: #c1c1c1;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.searchbars:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.icon-search {
  font-size: 20px !important;
  margin-left: 5px;
}

.searchInputs {
  border: none;
  width: 75%;
  padding-left: 5px;
  background-color: #c1c1c1;
}

.searchInputs:hover {
  background-color: white;
}
.searchInputs:focus {
  background-color: white;
}
.searchInputs {
  height: 95%;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  outline: none;
}
.searchbars:hover {
  outline: none;
}
.searchbars:focus {
  outline: none;
}

.chatMenuInput {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  flex: 6;
}

.chatBoxTop {
  overflow-y: scroll;
  padding-right: 10px;
  margin-left: 10px;
  height: 570px;
}
.chatBoxTop::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 50px;
}

.chatBoxWrapper {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  width: 100%;
  border-top: 1px solid #0091ff;
  align-items: center;
  justify-self: space-between;
}

.chatMessageInput {
  width: 90%;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 5px;
}

.chatMessageInput:focus {
  outline: none;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnlineWrapper {
  padding: 10px;
}

.chatMenuWrapper {
  padding: 0px;
}

.chatBoxWrapper {
  padding: 0px;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: gray;
  text-align: center;
  cursor: default;
}

.landing-app {
  padding: 8% 0;
  .title-welcome {
    width: 60%;
    display: flex;
    margin-left: 200px;
    justify-content: center;

    align-items: center;
    flex-direction: column;
    &-heading {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    &-detail {
      text-align: center;
      font-size: 16px;
    }
  }
  .carousel-slider {
    margin-top: 3rem;
    margin-left: 220px;
  }
}

.chatOnline {
  flex: 2.3;
  background-color: #f9f9fd;
}

.navigationChats {
}

.menuBottom {
  z-index: 400;
  height: 70px;
  width: 354.5px;
  position: absolute;
  bottom: 0;
}

.iconMenuBottom {
  display: flex;
  margin: 20px;
  margin-left: 140px;
}

.iconMenuBottom_setting,
.iconMenuBottom_contact {
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
