/* .profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
} */

.profileContent {
  display: flex;
}

.imageProfile {
  position: relative;
}

.profileUserImg {
  margin-left: 5px;
  margin-top: 15px;
}

.chatOnlineBadgeProfile {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limeGreen;
  position: absolute;
  right: 2px;
  top: 45px;
}

.titleProfile {
  margin-top: 15px;
  margin-left: 10px;
}

.titleProfile > p {
  font-weight: 350;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 2px;
}
